<html>
<head>
<title>dreamtemplates</title>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
<link href="style.css" rel="stylesheet" type="text/css">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="733" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td style="padding: 0px 140px 0px 140px"><table width="100%" border="0" cellspacing="10" cellpadding="0">
      <tr>
        <td align="center"><a href="#" class="black-text-regular">company</a></td>
        <td align="center"><img src="images/index_03.gif" width="1" height="19" alt=""></td>
        <td align="center"><a href="#" class="black-text-regular">services</a></td>
        <td align="center"><img src="images/index_03.gif" width="1" height="19" alt=""></td>
        <td align="center"><a href="#" class="black-text-regular">solutions</a></td>
        <td align="center"><img src="images/index_03.gif" width="1" height="19" alt=""></td>
        <td align="center"><a href="#" class="black-text-regular">clients</a></td>
        <td align="center"><img src="images/index_03.gif" width="1" height="19" alt=""></td>
        <td align="center"><a href="#" class="black-text-regular">contacts</a></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><img src="images/index_07.jpg" width="733" height="319" alt=""></td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="264" valign="top" bgcolor="#F1F1F1"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td bgcolor="#FCFDFD"><table width="100%" border="0" cellspacing="10" cellpadding="0">
              <tr>
                <td><img src="images/index_15.gif" width="181" height="18" alt=""></td>
              </tr>
              <tr>
                <td> <p><img src="images/index_26.gif" width="9" height="9" alt=""> <span class="black-text-regular">30-01-08</span></p>
                  <p class="black-text-regular">                    Tempor sit incididunt sitm laborelore magna aliqua enim ad minim.</p></td>
              </tr>
              <tr>
                <td height="3" background="images/index_30.gif"><img src="images/spacer.gif" width="1" height="1"></td>
              </tr>
              <tr>
                <td><p><img src="images/index_26.gif" width="9" height="9" alt=""><span class="black-text-regular"> 30-01-08</span></p>
                  <p class="black-text-regular"> Tempor sit incididunt sitm laborelore magna aliqua enim ad minim.</p>
                  <p class="orange-text-regular">&raquo; <a href="#" class="broun-text-underline">more news</a></p></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td bgcolor="#F1F1F1"><table width="100%" border="0" cellspacing="10" cellpadding="0">
              <tr>
                <td colspan="2"><img src="images/index_37.gif" width="157" height="16" alt=""></td>
              </tr>
              <tr>
                <td colspan="2">
                  <label>
                    <input type="text" name="textfield">
                    </label>                </td>
              </tr>
              <tr>
                <td width="70%">
                  <label>
                    <input name="radiobutton" type="radio" value="radiobutton">
                    </label>
                
                unsubscribe</td>
                <td width="30%" align="center" bgcolor="#636363"><a href="#" class="white-text"><strong>Submit</strong></a></td>
              </tr>
              <tr>
                <td colspan="2"><p>&nbsp;</p>
                  <p>&nbsp;</p></td>
              </tr>
              <tr>
                <td colspan="2"><table width="100%" border="0" cellspacing="10" cellpadding="0">
                  <tr>
                    <td width="9%"><img src="images/index_54.gif" width="30" height="30" alt=""></td>
                    <td width="91%" class="black-text-regular">Phone:   +1 800 603 6035<br>
                      FAX:      +1 800 889 9898</td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
        <td width="1"><img src="images/index_12.gif" width="1" height="465" alt=""><img src="images/spacer.gif" width="1" height="1"></td>
        <td width="468" valign="top" bgcolor="#F1F1F1"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td bgcolor="#FCFDFD"><table width="100%" border="0" cellspacing="10" cellpadding="0">
              <tr>
                <td><img src="images/index_18.gif" width="273" height="18" alt=""></td>
              </tr>
              <tr>
                <td><table width="100%" border="0" cellspacing="10" cellpadding="0">
                  <tr>
                    <td width="5%"><img src="images/index_23.jpg" width="84" height="64" alt=""></td>
                    <td width="95%" class="gray-text-regular"><strong>Lorem ipsum dolor sit amet,</strong> consectetuer adipiscing elit. Nullam const commodo arcu. Donec sit amet orci sit amet lorem nonummy congue. In hac habitasse <a href="#" class="gray-text-underline">platea dictumst</a>. <br>
                      Proin hendrerit pharetra nisl. Sed vestib porta augue. <br>
                      Aenean malesuada, justo eget aliquam volutpat arcu. nisl. </td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td><table width="100%" border="0" cellspacing="5" cellpadding="0">
                  <tr>
                    <td width="48%" class="orange-text-regular">-&rsaquo; <a href="#" class="orange-text-underline">Nisi ut aliquip ex ea commodo conse</a><br>
                      -&rsaquo; <a href="#" class="orange-text-underline">Duis aute irure dolor  reprehenderit</a></td>
                    <td width="5%"><img src="images/spacer.gif" width="1" height="1"></td>
                    <td width="47%"><span class="orange-text-regular">-&rsaquo; <a href="#" class="orange-text-underline">Nisi ut aliquip ex ea commodo conse</a><br>
-&rsaquo; <a href="#" class="orange-text-underline">Duis aute irure dolor  reprehenderit</a></span></td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td bgcolor="#F1F1F1"><table width="100%" border="0" cellspacing="10" cellpadding="0">
              <tr>
                <td width="50%" valign="top"><table width="100%" border="0" cellspacing="5" cellpadding="0">
                  <tr>
                    <td><p><img src="images/index_40.gif" width="103" height="14" alt=""></p>
                      <p>&nbsp;</p></td>
                  </tr>
                  <tr>
                    <td class="gray-text-regular"><p><strong>Lorem ipsum dolor sit amet, </strong>consectetuer adipiscing elit. Nullam const commodo <a href="#" class="gray-text-underline">arcu.</a> Donec sit amet orci sit amet lorem nonummy congue. </p>
                      <p>&nbsp;</p></td>
                  </tr>
                  <tr>
                    <td><span class="gray-text-regular">-&rsaquo;</span><span class="orange-text-regular"> <a href="#" class="orange-text-underline">vestib porta augue  enean malesuada </a><br>
  </span><span class="gray-text-regular">-&rsaquo;</span><span class="orange-text-regular"> <a href="#" class="orange-text-underline">proin hendrerit pharetra nisl sed </a></span></td>
                  </tr>
                </table></td>
                <td width="5%"><img src="images/index_35.gif" width="1" height="159" alt=""></td>
                <td width="45%" valign="top"><table width="100%" border="0" cellspacing="5" cellpadding="0">
                  <tr>
                    <td><p><img src="images/index_43.gif" width="100" height="14" alt=""></p>
                      <p>&nbsp;</p></td>
                  </tr>
                  <tr>
                    <td><strong>Lorem ipsum dolor sit amet, </strong>consectetuer adipiscing elit. Nullam const commodo <a href="#" class="gray-text-underline">arcu.</a> Donec sit </td>
                  </tr>
                  <tr>
                    <td><table width="100%" border="0" cellspacing="5" cellpadding="0">
                      <tr>
                        <td width="13%" align="center" bgcolor="#CECECE"><span class="gray-text-regular">-&rsaquo;</span></td>
                        <td width="87%" align="center" bgcolor="#E0E0E0"><a href="#" class="black-text-regular"><strong>aliquam eu purus non at </strong></a> </td>
                      </tr>
                      <tr>
                        <td align="center" bgcolor="#CECECE"><span class="gray-text-regular">-&rsaquo;</span></td>
                        <td align="center" bgcolor="#E0E0E0"><a href="#" class="black-text-regular"><strong>aliquam eu purus non at </strong></a></td>
                      </tr>
                      <tr>
                        <td align="center" bgcolor="#CECECE"><span class="gray-text-regular">-&rsaquo;</span></td>
                        <td align="center" bgcolor="#E0E0E0"><a href="#" class="black-text-regular"><strong>aliquam eu purus non at </strong></a></td>
                      </tr>
                    </table></td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
          </tr>
        </table>
          <table width="100%" border="0" cellspacing="5" cellpadding="0">
            <tr>
              <td height="10" bgcolor="#D72818"><img src="images/spacer.gif" width="1" height="1"></td>
            </tr>
            <tr>
              <td align="center" background="#" class="black-text-regular"><a href="#" class="black-text-regular">company</a>     :    <a href="#" class="black-text-regular">services</a>     :<a href="#" class="black-text-regular"> solutions</a>     :    <a href="#" class="black-text-regular">clients</a>     :     contacts</td>
            </tr>
            <tr>
              <td align="center" class="gray-text-regular">Copyright &copy; Sitename.com. All rights reserved. 
Design by Stylish <a href="http://www.stylishtemplate.com" style="color:#666666; text-decoration:none;">Web Templates</a></td>
            </tr>
          </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>
</body>
</html>